/* @font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: url('./Montserrat/static/Montserrat-ExtraLight.ttf');
  } */

* {
  margin: 0px 0px;
  padding: 0px 0px;
  list-style-type: none;
  height: 100%;
  background-color: #f4f4f4;
  letter-spacing: 1px;
}

#prompt {
  justify-self: center;
}
